  * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    #startButton, #answerButton {
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    #startButton {
        background-color: #ff09de;
        color: #fff;
    }

    #answerButton {
        background-color: #28a745;
        color: #fff;
        margin-top: 10px;
        display: block;
        margin: 20px auto 0;
    }

    #score {
        font-size: 24px;
    }

    .question {
        text-align: center;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .input-number {
        width: 50px;
        height: 30px;
        text-align: center;
        font-size: 18px;
        margin: 0 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }

    .operator {
        text-align: center;
        margin-top: 20px;
    }

    .operator label {
        font-size: 20px;
        margin: 0 10px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .operator input:checked + label {
        color: #007bff;
    }

    .operator-text {
        display: inline;
    }


    #resultText {
        font-size: 24px;
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
    }


    #resultText.correct {
        color: #28a745; 
    }


    #resultText.empty, #resultText.wrong {
        color: #dc3545; 
    }



    @media (max-width: 768px) {
        .container {
            max-width: 100%;
            margin: 0;
            border-radius: 0;
        }

        .header {
            flex-direction: column;
            text-align: center;
        }

        #userAnswer {
            margin: 10px auto 0;
        }
    }
